<% if @book.errors.any? %>
  <h2>The following errors prevented the form from saving!!</h2>
  <ul>
  <% @book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
<%= form_with model: @book, local: true do |f| %>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit %>
  <%= link_to "Cancel and return to Books List", books_path %>
<% end %>