<h1><%= @book.title %></h1>
<p><strong><%= @book.description %></strong></p>
<br />
<p>Last Updated Date: <%= @book.updated_at%></p>
<p>Created Date: <%= @book.created_at%></p>

<div>
  <%= link_to "Edit", edit_book_path(@book) %> |
  <%= link_to "Delete", book_path(@book), method: :delete %> |
  <%= link_to "Show Books List", books_path %>
</div>